includes:
    - vendor/yoga-loka/phpstan-rules/extension.neon

parameters:
    level: max
    tmpDir: runtime/phpstan
    paths:
        - app/src
    phpVersion: 80506
    bootstrapFiles:
        - vendor/autoload.php
