includes:
    - vendor/gian-tiaga/phpstan-strict-rules/extension.neon
    - vendor/gian-tiaga/spiral-cqrs/extension.neon
    - vendor/gian-tiaga/spiral-openapi/extension.neon

parameters:
    level: max
    tmpDir: runtime/phpstan
    paths:
        - app/src
    phpVersion: 80506
    bootstrapFiles:
        - vendor/autoload.php
