parameters:
    stubFiles:
        - stubs/SpiralRoutesBootloader.stub

services:
    -
        class: Tools\PHPStan\TypeContracts\TypeContractInspector
    -
        class: Tools\PHPStan\TypeContracts\PhpDocContractTypeCollector
    -
        class: Tools\PHPStan\Rules\TypeContractRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\RequireStrictTypesRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\RequireNamedArgumentsRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\DisallowLooseComparisonRule
        tags:
            - phpstan.rules.rule
    -
        class: Tools\PHPStan\Rules\DisallowMagicScalarLiteralRule
        tags:
            - phpstan.rules.rule
